
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,200;1,300;1,700&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}


.grnd{

    background: linear-gradient(180deg, #92DDC2 0%, #544E94 100%);
    padding-top: 326px;
    padding-bottom: 365px;
  
    

}    
.conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 667px;
    background: #0A0171;
    border: 1px solid #FFFFFF;
    box-shadow: 30px 30px 35px rgba(10, 1, 113, 0.3);
    border-radius: 30px;
   
}
.image{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px ;
    width: 177px;
    height: 158px;
}
.fspan{

    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
    text-align: center;

    padding-top: 51px;

}
.sspan{
    display: block;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-top: 27px;

}

.conteiner>form{
    display: block;
    margin-top: 24px;
    
    
}
.input-mail{
    
    margin-left: 20px;
    padding-left: 20px;
    padding: 19px 153px 23px 20px;
    color: #FFFFFF;
    font-size: 14px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Raleway'; 
    font-style: normal;
   
    
}

.input-password{
    margin-top: 18px;
    margin-left: 20px;
    color: #FFFFFF;
    font-size: 14px;
    background: none;
    padding: 20px 153px 23px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    font-family: 'Raleway'; 
    font-style: normal;
    
}
::placeholder{
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
   }

.input-button{
    margin-top: 25px;
    margin-left: 20px;
    padding: 17px 138px 18px 138px;
    background: #2BC990;
    border-radius: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
    color: #FFFFFF;

}