
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,200;1,300;1,700&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    
}


.grnd{
    background: linear-gradient(180deg, #92DDC2 0%, #544E94 100%);
    padding-top: 326px;
    padding-bottom: 365px;
    text-align: center;
 
  
    

}    
.conteiner{
    width: 375px;
    display: inline-block;
    text-align: center;
    background: #0A0171;
    border: 1px solid #FFFFFF;
    box-shadow: 30px 30px 35px rgba(10, 1, 113, 0.3);
    border-radius: 30px;
    font-family: 'Raleway';
    color: #FFFFFF;
    padding: 0 20px;
    text-align: center;
   
}
.image{
    margin-top: 92px ;
    width: 177px;
    height: 158px;
}
.fspan{
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding-top: 51px;

}
.sspan{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 27px;

}

.conteiner>form{
    display: block;
    margin-top: 24px;
    
    
}
.input-mail{
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
}

.input-password{
    margin-top: 18px;
    font-size: 14px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 20px;

    
}
.input-mail, .input-password{
    width: 335px;
    padding: 19px 20px 23px 20px;
}
::placeholder{
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
   }

.input-button{
    margin-top: 25px;
    margin-bottom: 58px;
    padding: 17px 138px 18px 138px;
    background: #2BC990;
    border-radius: 20px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;

}